
.pages-grid {
    max-width: 500px; /* this sets the maximum width for the grid */
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 250px));
    grid-gap: 30px;
}

@media screen and (max-width: 600px) {
    .pages-grid{
        grid-gap: 1px;
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        margin: 0;
        max-width: 100%;
    }
}

.page-cell {
    aspect-ratio: 1;
    border: 1px solid var(--white);
    background-color: var(--white);
    overflow: hidden;
    display: flex;
}


.page-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.15s;
}

.page-sort {
    background-image : url(../../../public/images/chart.png);
}

.page-pathfind {
    background-image : url(../../../public/images/grid.png);
}

.page-image:hover {
    transform: scale(1.01);
}